---
interface props{

}
---
<div class="widget">
    
    <h5 class="widget-title"><span>গুগল ম্যাপ</span></h5>
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d0.0058581623803819685!2d88.84410761726066!3d23.77380565009214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0x0!2zQno!5e0!3m2!1sbn!2sbd!4v1635038267367&output=embed"
        width="350"
        height="450"
        style="border:0;"
        allowfullscreen="true"
        loading="lazy"
        ></iframe>
</div>
