---
interface props{

}
---

<div class="column block">
    
    <h5 class="widget-title"><span>জরুরি হটলাইন</span></h5>
    <p><img alt="" src="https://vjghs.edu.bd/template/website/template_5/assets/images/National-Helpline.png" style="height:100%; width:220px"></p>
    </div>