---

import RightSide from './SideBarX/RightSide.astro';
import Slider from './Slider.astro';
interface Props {
    
}
---

<section class="section">
	<div class="container">
		<div class="row">
			<Slider/>
			<RightSide/>
		</div>
	</div>
</section>