---
import { contentfulClient } from "../../lib/contentful";
import type { AboutInstitution, AdministrationInformation, NoticeItem } from "../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

import Header from '../../components/UI/Global/Header.astro'
import Footer from '../../components/UI/Global/Footer.astro'


export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<AdministrationInformation>({
    content_type: "administrationInformation",
  });


  const pages = entries.items.map((item) => ({
    params: { slug: ''+item.fields.slug },
    props: {
      title: item.fields.title,
      content: documentToHtmlString(item.fields.content),
      date: new Date(item.sys.createdAt).toLocaleDateString(),
    },
  }));
  return pages;
}

const {title, content, date} = Astro.props;
---
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en-us">

<head>
	<base href="https://bbhss.vercel.app" target="_blank"/>
   <meta charset="utf-8">
   <title>{title}</title>

   <!-- mobile responsive meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
   <meta name="description" content="This is meta description">
   <meta name="author" content="Themefisher">

   <!-- plugins -->
   <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2" style="font-display: optional;">
   <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">

   <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
   <link rel="stylesheet" href="/plugins/slick/slick.css">

   <!-- Main Stylesheet -->
   <link rel="stylesheet" href="/css/style.css">

	
				   <!-- JS Plugins -->
				   <script type="module" src="/plugins/jQuery/jquery.min.js"></script>
				   <script type="module" src="/plugins/bootstrap/bootstrap.min.js"></script>
				   <script type="module" src="/plugins/slick/slick.min.js"></script>
				
				   <!-- Main Script -->
				   <script type="module" src="/js/script.js"></script>
   <!--Favicon-->
   <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
   <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body>
<!-- navigation -->
<Header/>
<!-- /navigation -->

<section class="section">
	<div class="container">
		<article class="row mb-4">
			<div class="col-lg-10 mx-auto mb-4">
				<h1 class="h2 mb-3">{title}</h1>
				<ul class="list-inline post-meta mb-3">
					<li class="list-inline-item">Date : {date}</li>
				</ul>
			</div>
			<div class="col-lg-4 mx-auto">
				<div class="post-slider">
					
				</div>
			</div>
			<div class="col-lg-10 mx-auto">
				<div class="content">
					<p>{content}</p>
				</div>
				
				  
			
		</article>
	</div>
</section>

<Footer/>

</body>
</html>