---
import { contentfulClient } from "../../../lib/contentful";
import { Downloads } from "../../../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";
import Header from "../../../components/UI/Global/Header.astro";
import Footer from "../../../components/UI/Global/Footer.astro";

const entries = await contentfulClient.getEntries<Downloads>({
  content_type: "downloads",
});

const books = entries.items.map((item) => {
  const { title, type, slug, fileLink } = item.fields;
  return {
	title,
	type,
	slug,
	fileLink
  };
});

---
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en-us">

<head>
	<base href="https://bbhss.vercel.app" target="_blank"/>
   <meta charset="utf-8">
   <title>বইগুলি</title>

   <!-- mobile responsive meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
   <meta name="description" content="This is meta description">
   <meta name="author" content="Themefisher">

   <!-- plugins -->
   <link rel="preload" href="https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2" style="font-display: optional;">
   <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:600%7cOpen&#43;Sans&amp;display=swap" media="screen">

   <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
   <link rel="stylesheet" href="/plugins/slick/slick.css">

   <!-- Main Stylesheet -->
   <link rel="stylesheet" href="/css/style.css">

	
				   <!-- JS Plugins -->
				   <script type="module" src="/plugins/jQuery/jquery.min.js"></script>
				   <script type="module" src="/plugins/bootstrap/bootstrap.min.js"></script>
				   <script type="module" src="/plugins/slick/slick.min.js"></script>
				
				   <!-- Main Script -->
				   <script type="module" src="/js/script.js"></script>
   <!--Favicon-->
   <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
   <link rel="icon" href="/images/favicon.png" type="image/x-icon">
</head>

<body>
<!-- navigation -->
<Header/>
<!-- /navigation -->
<section class="section">
	<div class="container">
<div class="widget">
    <h5 class="widget-title"><span>অন্যান্য</span></h5>

    <ol class="list-unstyled widget-list">
        {books.map((post) => {
            // Check if item and its fields are defined before accessing them
            if (post && post.fileLink && post.title && post.type=="Book") {
              return (
                <li class="media widget-post align-items-center">
                  <div class="media-body">
                    <h5 class="h6 mb-0">
                      <a href={"/downloads/book/"+post.slug+"/"}>{post.title}</a>
                    </h5>
					
                  </div>
                </li>
              );
            } else {
              // Handle the case where item or its fields are undefined
              return null;
            }
          })}
          </ol>
		</article>
	</div>
   </div>
</section>
<Footer/>

</body>
</html>