---
interface Props {
    
}
import NoticeItem from './NoticeItem.astro';
---

 <!-- latest post -->
 <div class="widget">
    <h5 class="widget-title"><span>নোটিশ বোর্ড</span></h5>
   <NoticeItem/>
  <div style="text-align: right"><a href="/notices"><b>See All</b></a></div>
 </div>